<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color:#666699;">
<h1><font face="helvetica" color="ffffff">Enter the recipe</font></h1>

<form action="done" method="POST">
    <table>
        <tr><td><input type="text" id="name" name="name" placeholder="Name..">
            <input type="checkbox" name="vege" value="true"><font face="helvetica" color="ffffff">Vegetarian</font><br></td>
        </tr>

        <tr>
            <td><textarea id="recipe" name="recipe" placeholder="Recipe.." style="height:300px; width:512px"></textarea><br></td>
        </tr>
    </table>

    <button class="mybutton" type="submit">Add</button>
</form>
</body>
</html>